<h3>Login</h3>
<form action="/login" method="post">
    Username: <input type="text" name="name" placeholder="User Name">
    Password: <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In">
</form>