<h3>Add a car to your garage</h3>
<form action="/cars" method="POST">
	License Plate Number:	<input type="text" name="license">
	Make: <input type="text" name="make">
	Model: <input type="text" name="model">
    Year: <input type="number" name="year">
    
    <input type="submit" value="Add Car">
</form>